#control-panel-toggle {
  position: absolute;
  top: 0px;
  right: 250px;
  z-index: 3;
  width: 5px;
  height: 100%;
  background-color: #181818;
  transition: background-color .5s;
}

#control-panel-toggle:hover {
  position: absolute;
  top: 0px;
  right: 250px;
  z-index: 3;
  width: 5px;
  height: 100%;
  background-color: #404040;
}

#control-panel {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 3;
  width: 250px;
  height: 100%;
  background-color: black;
  opacity: .5;
  color: white;
  transition: opacity .5s;
}

#control-panel:hover {
  opacity: 1;
}

#spawner-control {
  display: none;
}

#unit-description {
  display: none;
}

#start-screen {
  z-index: 1000;
  color: white;
  background-color: black;
  position: absolute;
  width: 100%;
  height: 100%;
}

.control-panel-element {
  padding-left: 10px;
}

.control-panel-unit-description {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: black;
  transition: background-color .5s;
}

.control-panel-unit-description:hover {
  background-color: red;
}
